<html>
	<head>
	</head>
	<body>
		<h1>Baseball Sim</h1>
		<a href="about">About</a>
		<p>Welcome to Baseball Sim</p>		
		<hr>
		<h3>Game Sim</h3>
		<form method="POST" action=".">
			<select name="team1" type="text" placeholder="First Team" required>
				<option value="">First Team</option>
				<option value="phi">Philadelphia</option>
				<option value="mia">Miami</option>
			</select>
			<select name="team2" type="text" placeholder="Second Team" required>
					<option value="">Second Team</option>
					<option value="phi">Philadelphia</option>
					<option value="mia">Miami</option>
			</select>
			<input name="num_games" type="number" placeholder="Number of Games" required/>
			<input type="submit" name="Run Simulation" value="Run Sim"></input>
		</form>
		<hr>
		<h4>Simulation Results</h4>
		<p>{{ home }} </p>
		<p>{{ away }}</p>
		{% if game_details %}
		{% for game in game_details %}
		<table>
			<thead>
			<th>Team</th>

		{% for i in game.innings %}

			<th>{{ i.inning}}</th>

		{% endfor %}
		</thead>
		<tbody>
		<tr>
			<td>{{ game.home_team }}</td>
			{% for i in game.innings %}
				<td>{{ i.score.home }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>{{ game.away_team }}</td>
			{% for i in game.innings %}
				<td>{{ i.score.away }}</td>
			{% endfor %}
		</tr>

		</tbody>

		</table>

		{% endfor %}
		{% endif %}
		
	</body>
</html>
